# AWS / Bedrock
AWS_REGION=us-east-2 #o sa-east-1 segun lo que proporcione la mejor latencia
AWS_ACCESS_KEY_ID=su_clave_de_acceso_de_aws
AWS_SECRET_ACCESS_KEY=su_clave_secreta_de_acceso_de_aws
AWS_SESSION_TOKEN=

# AWS / S3

BUCKET_NAME=co-retailer-agent-2026 #o nombre del bucket
PREFIX=